<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle [disabled]="model === ''">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Search documents</strong>
            </mat-panel-title>
            <mat-panel-description>
                Now you can search for other documents. Select where do you want
                to search, and write your query using relevant keywords.
                <span class="material-icons">
                    search
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="20" rowHeight="50px">
            <mat-grid-tile [colspan]="3" [rowspan]="2">
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    [(ngModel)]="searchOrigin"
                >
                    <mat-radio-button class="example-radio-button" [value]="0">
                        Search new documents
                    </mat-radio-button>
                    <mat-radio-button
                        class="example-radio-button"
                        [value]="1"
                        disabled
                    >
                        Classify from urls
                    </mat-radio-button>
                </mat-radio-group>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="10" [rowspan]="2">
                <div class="grid-searchQuery" *ngIf="searchOrigin == 0">
                    <form class="grid-searchQuery" #queryForm="ngForm">
                        <mat-form-field>
                            <mat-label>Choose where to search</mat-label>
                            <mat-select
                                [(ngModel)]="searchSource"
                                name="source"
                                required
                            >
                                <mat-option
                                    *ngFor="let source of sources"
                                    [value]="source.name"
                                >
                                    {{ source.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Introduce query</mat-label>
                            <input
                                [(ngModel)]="query"
                                matInput
                                placeholder="Search for keywords such as you would do on Google"
                                name="query"
                                required
                            />
                        </mat-form-field>
                    </form>
                </div>
                <div class="grid-searchQuery" *ngIf="searchOrigin == 1">
                    <form class="grid-searchQuery" #queryForm="ngForm">
                        <mat-form-field>
                            <mat-label>Choose where to search</mat-label>
                            <mat-select
                                [(ngModel)]="searchSource"
                                name="source"
                                required
                            >
                                <mat-option
                                    *ngFor="let source of sources"
                                    [value]="source.name"
                                >
                                    {{ source.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Add some urls of news</mat-label>
                            <textarea
                                [(ngModel)]="query"
                                name="query"
                                matInput
                                placeholder="Separated by spaces or enters"
                                required
                            ></textarea>
                        </mat-form-field>
                    </form>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="2">
                <button
                    *ngIf="searchOrigin == 0"
                    mat-button
                    color="primary"
                    (click)="searchQuery()"
                    [disabled]="!queryFormIsCorrect()"
                >
                    SEARCH DOCUMENTS
                </button>
                <button
                    *ngIf="searchOrigin == 1"
                    mat-button
                    color="primary"
                    (click)="searchQuery()"
                    [disabled]="!queryFormIsCorrect()"
                >
                    CLASSIFY DOCUMENTS
                </button>
            </mat-grid-tile>
            <mat-grid-tile
                [colspan]="3"
                [rowspan]="2"
                *ngIf="jobs.searching != ''"
            >
                This will take a while. Come back in a few minutes.
                <mat-spinner></mat-spinner>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
</mat-accordion>
